* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
h2 {
  font-weight: 300;
}
.logo {
  width: 25vw;
  padding-top: 0.5rem;
}
.container {
  margin: 0px 2rem;
}
.navegacion {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.links-nav {
  display: none;
}
.header {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

  .texto-header {
    padding-left: 2rem;
    padding-top: 3rem;
    color: #fff;
    width: 70vw;
    & h1 {
      font-weight: 400;
    }
    & p {
      font-size: 1em;
      padding-bottom: 2rem;
      padding-top: 1rem;
    }
  }
  .btn-ver-coleccion {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 10px #e4ad52;
    padding: 0.7rem 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}
.banner-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.6rem;
    padding-top: 1.5rem;
    & i {
      font-size: 2em;
    }
    p {
      text-align: center;
      font-weight: 200;
    }
  }
}
.divider {
  border: 0.01em solid #e4ad52;
  margin: 2rem 0px;
}
.variedad-metal {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0.5rem;
  padding: 1rem;
  p {
    padding-left: 0.1em;
  }
}
.card-joyas {
  background-color: #ac845540;
}
.card-img-joyas {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  align-content: center;
  position: relative;
  perspective: 1000px;
}
.card {
  height: 27vh;
  width: 80%;
  border: 1.6px solid #e4ad52;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  margin: 0.5rem 0.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.322);
  padding-bottom: 2rem;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  .logo {
    width: 20vw;
  }
}
.card:hover {
  transform: rotateY(360deg);
}
.nueva-coleccion {
  text-align: center;
  h2 {
    padding: 2rem;
    font-weight: 400;
  }
  .card {
    .logo {
      width: 15vw;
      height: 16vh;
    }
  }
}
.precio-carrito {
  display: flex;
  padding-left: rem;
  padding-top: 0.2rem;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  h6 {
    padding-right: 0.5rem;
    font-weight: 500;
  }
}
.btn-ver-mas {
  button {
    margin-top: 1rem;
    border: 2px solid #ac8455;
    color: #ac8455;
    background: #fff;
    text-transform: uppercase;
    padding: 0.7rem 1.5rem;
    border-radius: 4px;
    font-size: 0.8em;
  }
}
.promo-collar-florencia {
  color: #fff;
  margin-top: 1.5rem;
  background-color: #ac8455;
  padding: 1rem 0rem;
  text-align: center;
  .collar-flo-uno img {
    z-index: 99;
    width: 120px;
    position: absolute;
    margin-top: 5rem;
  }
  .collar-flo-dos {
    padding: 3rem;
    img {
      width: 220px;
      height: 200px;
    }
  }
  .descri-promo {
    h2 {
      font-weight: 400;
      padding-bottom: 0.5rem;
    }
    p {
      font-weight: 300;
    }
    h3 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .btn-descri-flo {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .btn-ver-mas {
        padding: 0.7rem 2rem;
        text-transform: uppercase;
        border-radius: 5px;
        border: 2px solid #ac8455;
        font-weight: 500;
        font-size: 0.7em;
        background-color: #fff;
        text-wrap: nowrap;
      }
      .btn-agregar {
        padding: 0.6rem 2rem;
        text-transform: uppercase;
        border-radius: 5px;
        border: 2px solid #fff;
        font-weight: 500;
        font-size: 0.7em;
        background-color: #ac8455;
        color: #fff;
      }
    }
  }
}
.en-oferta {
  text-align: center;
  padding-bottom: 2rem;
  h2 {
    padding: 1.5rem;
  }
  .logo {
    width: 15vw;
    height: 10vh;
  }
  span {
    text-decoration-line: line-through;
    font-size: 0.7em;
  }
  .precio-carrito {
    display: flex;
  }
}
.contacto {
  background-color: #eae0d5;
  padding: 2rem 0rem;
  h2,
  p {
    text-align: center;
  }
  h2 {
    font-weight: 400;
    margin-bottom: 1rem;
  }
  p {
    font-size: 0.7em;
    margin-bottom: 1rem;
    font-weight: 300;
  }
  .form-contacto {
    width: 100%;
    margin-bottom: 0.5rem;
    input,
    textarea {
      width: 100%;
      background-color: #eae0d5;
      border: 1px solid black;
      border-radius: 3px;
      margin-bottom: 0.3rem;
      padding: 0.5rem 0.7rem;
      margin-top: 0.5rem;
    }
    button {
      color: white;
      background-color: #ac8455;
      padding: 0.7rem 2.3rem;
      border-radius: 3px;
      border: none;
      margin-top: 0.5rem;
      font-weight: 500;
    }
  }
}
.footer {
  .logo {
    width: 50vw;
    padding: 1.5rem 0rem;
  }
  .descri-footer {
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.2rem;
  }
  .info-contacto {
    h4 {
      font-weight: 500;
      padding: 1.5rem 0rem;
    }
    .redes {
      display: flex;
      padding: 1.5rem 0rem;
      i {
        padding-right: 0.8rem;
      }
    }
  }
  .derechos-footer {
    background-color: #eae0d5;
    padding: 1rem;
    p {
      font-weight: 300;
      font-size: 0.8em;
    }
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .card-joyas {
    margin-top: 1.5rem;
    .variedad-metal {
      padding-bottom: 0rem;
    }
    .card-img-joyas {
      .logo {
        width: 15vw;
      }
    }
  }
  .nueva-coleccion {
    .card {
      .logo {
        width: 15vw;
      }
    }
  }
  .promo-collar-florencia {
    text-align: center;
    .collar-flo-dos {
      img {
        width: 60vw;
        border-radius: 4px;
      }
    }
    .collar-flo-uno {
      img {
        width: 25vw;
        height: 25vh;
        margin-top: 30vh;
        margin-left: 10vw;
        padding-bottom: 1rem;
        border-radius: 4px;
      }
    }
    .descri-promo {
      .btn-descri-flo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
  .en-oferta {
    .logo {
      width: 12vw;
    }
    span {
      font-size: 0.7em;
      text-decoration-line: line-through;
    }
  }
}
@media (min-width: 769px) {
  .navegacion {
    padding: 0rem 2rem;
    justify-content: space-between;
    .hamburguesa {
      display: none;
    }
    .links-nav {
      display: flex;
      & ul {
        display: flex;
        gap: 1rem;
        align-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
      }
      & li {
        list-style: none;
        font-size: 0.6em;
        text-transform: uppercase;
      }
    }
  }
  .header {
    .texto-header {
      width: 100vw;
      font-size: large;
    }
  }
  .card-img-joyas {
    grid-template-columns: auto auto auto auto;
    padding-bottom: 1rem;
    .card {
      .logo {
        width: 12vw;
      }
    }
  }
  .promos {
    display: grid;
    grid-template-columns: auto auto;
    .en-oferta {
      .card-img-joyas {
        grid-template-columns: auto auto;
      }
    }
  }
  .contacto {
    .form-contacto {
      display: grid;
      grid-template-columns: auto auto;
      input {
        width: 90%;
      }
      .textarea {
        width: 90%;
      }
      button {
        height: 95%;
      }
    }
  }
  .footer-des {
    display: grid;
    grid-template-columns: 70% 20%;
    .logo {
      width: 30vw;
    }
    p {
      width: 80%;
    }
  }
  .derechos-footer {
    margin-top: 1rem;
    text-align: center;
  }
}
